<div class="card-container content-container" name="information-content" style="display: none;">
    <div class="header-wrapper">
        <div class="header-title">
            <h2>Awhats</h2>
            <h3>Información</h3>
            <h4 style="color: rgb(46, 45, 45);">Desarrollado por:</h4>
            <h5>José Brandon Bernal Nápoles</h5>
            <h5 style="color: rgb(46, 45, 45);">jose.bernal4877@alumnos.udg.mx</h5>
            <h5>Jesús Alejandro Casimiro García</h5>
            <h5 style="color: rgb(46, 45, 45);">jesus.casimiro9245@alumnos.udg.mx</h5>
            <h5>Oscar Israel Delgado Valdovinos</h5>
            <h5 style="color: rgb(46, 45, 45);">oscar.delgado9294@alumnos.udg.mx</h5>
        </div>
    </div>
</div>